:root {
--first-text-color: #212121;
--secondary-text-color: #757575;
--white-text-color: #ffffff;
--blue-text-color: #2196f3;
}

.page-body{
  font-family: Roboto ;
  color: #212121;
}
.page-header {
background-color: #ffffff;
}
/* WebStudio */
.logo {
font-family: raleway;
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: #2196f3;
}
.bluetext {
  color: #2196f3;
}
.blacktext {
  color: #212121;
}
.whitetext{
  color: #ffffff;
}
/* site-navigation */
.site-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.site-nav:hover,
.site-nav:focus {
color: #2196f3;
}

.contacts{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
.cap {
  background-color: #2F303A;
}
.title{
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}
.buttons{
  background-color: #2196f3;
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  cursor:pointer
}
.specifics-title{
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}
.specifics {
  font-family: roboto;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.work-title{
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.filters {
  font-weight: 500;
  font-family: Roboto;
  color: #ffffff;
}
.page-footer{
  background-color: rgb(15, 18, 56);
  color: #ffffff;
}
.text-address{
  color: #ffffff;
}
.text-email{
  color: rgba(255, 255, 255, 0.6)
}
.text-telephone{
  color: rgba(255, 255, 255, 0.6)
}
