:root {
  --first-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --blue-text-color: #2196f3;
}

.page-main {}

.page-body {
  font-family: 'Roboto';
  color: var(--first-text-color);
}

.page-header {
  font-style: normal;
  background-color: var(--white-text-color);
}

/* WebStudio */
.logo {
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--blue-text-color);
}

.bluetext {
  color: var(--blue-text-color);
}
.blacktext {
  color: var(--first-text-color);
}
.whitetext {
  color: var(--white-text-color);
}

/* site-navigation */
.site-nav {}

.header-list {
}
.header-list {
}
.nav-list {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color)
}
.header-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.contacts {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}
.text-email-header{
}
.text-email-header:hover,
.text-email-header:focus {
  color: #2196f3;

}
.text-telephone-header{}

.cap {
  background-color: #2F303A;
}

.title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.buttons {
  background-color: var(--blue-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text-color);
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

}

.buttons:hover {
  background-color: #1b1480;
}
.general-list{

}
.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.specifics {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-list {}

.workers {}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.specifics-title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.specifics-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.specifics-progects {

}
.filters-button {}

.filters {
  font-family: 'Roboto';
  color: #212121;
  font-weight: 500;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em
}

.filters :hover,
.filters :focus {
  background-color: #2196f3;
  color: #ffffff;
}

.page-footer {
  background-color: rgb(15, 18, 56);
  color: var(--white-text-color);
}

.text-address {
  font-style: normal;
  color: var(--white-text-color);
}

.text-email {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6)
}

.text-telephone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6)
}