:root {
--first-text-color: #212121;
--secondary-text-color: #757575;
--white-text-color: #ffffff;
--blue-text-color: #2196f3;
}

.page-body{
  font-family: Roboto ;
  color: var(--first-text-color);
}
.page-header {
background-color: var(--white-text-color);
}
/* WebStudio */
.logo {
font-family: raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
color: var(--blue-text-color);
}
.bluetext {
  color: var(--blue-text-color);
}
.blacktext {
  color: var(--first-text-color);
}
.whitetext{
  color: var(--white-text-color);
}
/* site-navigation */
.site-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  color: var(--first-text-color);
}
.site-nav:hover,
.site-nav:focus {
color: var(--blue-text-color);
}

.contacts{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  color: var(--secondary-text-color);
}
.contacts:hover {
color: var(--blue-text-color);
}
.cap {
  background-color: #2F303A;
}

.title {
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: var(--white-text-color);
}
.buttons{
  background-color: var(--blue-text-color);
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  color: var(--white-text-color);
  cursor:pointer
}
.buttons:hover {
  background-color: #150c9b;
}

}
.specifics-title{
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  color: var(--first-text-color);
}
.specifics {
  font-family: roboto;
  font-size: 14px;
  line-height: 1.71em;
  color: var(--secondary-text-color);
}
.work-title{
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  color: var(--first-text-color);
}
.specifics-title-team {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  color: var(--first-text-color);
}
.specifics-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18em;
  color: #757575;
}
.filters {
  color: #212121;
  font-weight: 500;
  font-family: Roboto;
}
.page-footer{
  background-color: rgb(15, 18, 56);
  color: var(--white-text-color);
}
.text-address{
  color: var(--white-text-color);
}
.text-email{
  color: rgba(255, 255, 255, 0.6)
}
.text-telephone{
  color: rgba(255, 255, 255, 0.6)
}
